.container {
   max-width: 1180px;
   margin: 0 auto;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;

   .row {
      .title {
         margin-bottom: 48px;
         font-size: 28px;
      }

      .desc {
         margin-bottom: 48px;
      }
   }
}
