.container {
   background-color: var(--black);
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 24px 32px;
   transition: all 0.3s ease;
   margin-bottom: 24px;
   width: 320px;

   .text {
      font-size: 15px;
      font-weight: 300;
      color: var(--white);
      margin-left: 8px;
   }

   &:hover {
      opacity: 0.7;
   }
}

@media (max-width: 820px) {
   .container {
      justify-content: start;
   }
}